@import 'apps/frontend/src/styles/_colors';

.button {
  display: block;
  padding: 1rem;
  width: 100%;
  min-height: 4.4rem;
  font-size: 2rem;
  background-color: $violet-dark;
  color: $white;
  border-radius: 3px;
  box-shadow: $shadow-black-small;
  transition: box-shadow 0.3s ease;

  &:disabled {
    opacity: 0.6;
    cursor: default;
  }

  &:not(:disabled) {
    &:hover,
    &:focus {
      box-shadow: $shadow-blue-big;
    }
  }
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
