@import 'apps/frontend/src/styles/_colors';
@import 'apps/frontend/src/styles/_variables';

.wrapper {
  .mat-select-value {
    padding: 0.5rem 0;
    font-size: 2rem;
  }
  .mat-select-placeholder {
    font-weight: $fw-light;
    color: $grey-light;
  }
}

.dropdown-overrides {
  .mat-option-text {
    font-size: 2rem;
    font-weight: $fw-light;
  }

  .mat-option {
    padding: 3rem 2rem;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $orange-light;
    }

    &.mat-selected {
      color: $white;
      background: $orange-dark !important;
    }
  }
}
