<div [formGroup]="form">
  <div class="wrapper">
    <label [class]="labelClassNames" [for]="name">{{ labelText }}</label>
    <input
      class="input"
      type="email"
      [id]="name"
      [name]="name"
      [formControlName]="name"
      [type]="inputType"
      [placeholder]="placeholder"
      (change)="check()"
      (mouseenter)="this.isHovered = true"
      (mouseleave)="this.isHovered = false"
      (focus)="this.isFocused = true"
      (blur)="this.isFocused = false"
    />
    <div class="separator"></div>
    <div [class]="indicatorClassNames"></div>
  </div>

  <p class="error-msg" *ngIf="errorMsg">{{ errorMsg | translate }}</p>
</div>
