<div [formGroup]="form">
  <app-field
    [name]="name"
    [labelText]="labelText"
    [isFormSubmitted]="isFormSubmitted"
    [field]="field"
    [isFocused]="isHovered || isFocused"
  >
    <input
      class="input"
      [id]="name"
      [name]="name"
      [formControlName]="name"
      [type]="inputType"
      [placeholder]="placeholder"
      (mouseenter)="this.isHovered = true"
      (mouseleave)="this.isHovered = false"
      (focus)="this.isFocused = true"
      (blur)="this.isFocused = false"
    />
  </app-field>
</div>
