@import 'apps/frontend/src/styles/_colors';

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 28.5rem;
  height: 100vh;
  background: $orange-gradient-linear;
  box-shadow: $shadow-black-big;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.avatar-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;
}

.sidebar-item-wrapper {
  padding-left: 3rem;
}

.btn-sign-out {
  position: absolute;
  bottom: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.link {
  display: block;
  padding-left: 1rem;
  margin-bottom: 2rem;
}
