@import 'apps/frontend/src/styles/_colors';

.logo {
  position: absolute;
  top: 2rem;
  left: 2rem;

  a {
    font-size: 4rem;
    text-shadow: 1px 1px 3px rgba($black, 0.3);
    font-family: 'Changa One', sans-serif;
    letter-spacing: 1px;
    color: $black;
  }
}
