<!-- https://github.com/angular/components/issues/10039 -->
<div class="wrapper">
  <div class="avatar-wrapper">
    <app-avatar
      [userName]="avatars[0].userName"
      size="50"
      [isTextHidden]="true"
      [hasTooltip]="true"
    ></app-avatar>
  </div>

  <div *ngIf="!!(avatars && avatars[1])" class="avatar-wrapper">
    <app-avatar
      [userName]="avatars[1].userName"
      size="50"
      [isTextHidden]="true"
      [hasTooltip]="true"
    ></app-avatar>
  </div>

  <div *ngIf="!!(avatars && avatars[2])" class="avatar-wrapper">
    <app-avatar
      [userName]="avatars[1].userName"
      size="50"
      [isTextHidden]="true"
      [hasTooltip]="true"
    ></app-avatar>
  </div>

  <div *ngIf="counterValue > 0" class="avatar-wrapper">
    <app-avatar value="+1" size="50" [isTextHidden]="true"></app-avatar>
  </div>
</div>
